
<div class="breadcrumb">
    <div class="grid wide breadcrumb-wrapper">
        <a href="/" class="breadcrumb-home breadcrumb--main-color"> Trang chủ</a>
        <span class="breadcrumb-category"> @ViewBag.Title</span>
    </div>
</div>
