
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="app-content">
    <div class="grid wide">
        <h2>Không có trang này [Lỗi 404]</h2>
    </div>
</div>

