@model IEnumerable<MyDB.Models.Menu>

@{
    var footer = ViewBag.Footer;
}
<li class="footer-item col l-3 m-6 c-6">
    <h2>@footer.Name</h2>
    <ul class="footer-sublist">        
        @foreach (var i in Model)
        {
            <li class="footer-subitem">
                <a href="@i.Link">
                    @i.Name
                </a>
            </li>
        }
    </ul>
</li>
