
@{
    ViewBag.Title = "Phương thức thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <style>
        h2 {
            font-size: 3rem;
            line-height: 2;
            font-weight: normal;
        }

        p {
            font-size: 1.6rem;
            line-height: 2;
        }
        ul{
            list-style-type:none;
            margin-top:15px;
        }
        li{
            font-size:1.4rem;
        }
    </style>
}

@section header_top{
    @Html.Action("MainMenu", "Module")
}
@Html.Partial("Breadcrumb")

<div id="app-content">
    <div class="grid wide">
        <h2>Phương thức thanh toán</h2>
        <div class="text-content">
            <p>Quý khách chọn hình thức chuyển khoản vui lòng chuyển khoản vào số tài khoản sau :</p>
            <p><strong>Lưu ý : Ghi rõ mã đơn hàng khi chuyển tiền</strong></p>
            <ul>
                <li> Số tài khoản : <strong>0123456xxx</strong> </li>
                <li> Tên Tài khoản : <strong>Nguyễn Văn A</strong></li>
                <li> Ngân hàng BIDV</li>
                <li> Chi nhánh – Đông Sài Gòn</li>
                <li> Momo 03123xxxx</li>
                <li> Tên : Nguyễn Văn A</li>
                <li> Nội dung chuyển khoản: ghi mã đơn hàng</li>
            </ul>
        </div>
    </div>
</div>
