
@{
    ViewBag.Title = "Đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section header_top{
    @Html.Action("MainMenu", "Module")
}

@Html.Partial("Breadcrumb")
<div id="app-content">
    <div class="grid wide">
        <h2>Đặt hàng thành công</h2>
    </div>
</div>


