
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-3">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Title</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="addpage.html" class="btn btn-sm btn-success">
                            <i class="fas fa-plus"></i> Thêm
                        </a>
                    </div>
                </div>  
            </div>
            <div class="card-body">
                Content
            </div>
            <!-- /.card-body -->           
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>